name: Keep Apps Alive

on:
  schedule:
    # Se ejecuta todos los días a las 00:00 y 12:00 UTC
    - cron: '0 0,12 * * *'
  workflow_dispatch: # Esto permite que tú lo actives manualmente para probar

jobs:
  run-visitor:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install playwright
          playwright install chromium

      - name: Execute keep alive script
        run: python keep_alive.py
